body
{
    background-color:#CD5C5C 
}


h1
{
    font-family: Roboto Mono;
    color:   rgb(26, 27, 27);
    text-align: center;
}





}

.babuk
{
    border: 1px #292020; 
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: autogit;
  }
  
  td, th {
    margin: auto;
    width: auto /* Szélesség */
    height: 50px; /* Magasság */
    border: 3px solid #ccc; /* Különbség a cellák között */
  }